<header
  x-data="{mobileOpen: false}"
  class="flex z-50 sticky top-0 flex-wrap md:justify-start md:flex-nowrap 
  w-full bg-gradient-to-t  from-[hsl(200,100%,8%)] to-[hsl(200,100%,18%)]
  text-white text-sm py-3 md:py-0 shadow-md">
    <nav class="max-w-[85rem] w-full mx-auto px-4 md:px-6 lg:px-8" aria-label="Global">
      <div class="relative md:flex md:items-center md:justify-between">
        <div class="flex items-center justify-between">
          <a class="flex-none text-xl font-oxanium font-semibold" href="{% url 'core:home' %}" aria-label="Brand">
            Keiner Mendoza
        </a>
        {% comment %} mobileIcon {% endcomment %}
          <div class="md:hidden">
            <button
              @click="mobileOpen = !mobileOpen" 
              type="button" class="flex justify-center items-center w-9 h-9 text-sm font-semibold rounded-lg border border-gray-200 text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
              
              <svg
                x-show="!mobileOpen" 
                class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" x2="21" y1="6" y2="6" />
                <line x1="3" x2="21" y1="12" y2="12" />
                <line x1="3" x2="21" y1="18" y2="18" />
              </svg>
              <svg 
                x-show="mobileOpen"
                x-cloak
                class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
              </svg>
            </button>
          </div>
        </div>

        <nav
          class="fixed left-0 top-[3.75rem] min-h-screen w-screen bg-[rgba(0,0,0,0.8)]" 
          x-show="mobileOpen"
          x-cloak
          >
          <a href="">ok</a>
        </nav>



  
        <div id="navbar-collapse-with-animation" 
          class="hs-collapse d-none transition-all duration-300 basis-full grow md:block">
            <div class="flex flex-col gap-x-0 mt-5 divide-y divide-dashed divide-gray-200
              md:flex-row md:items-center md:justify-end md:gap-x-7 md:mt-0 md:ps-7 md:divide-y-0
              md:divide-solid dark:divide-gray-700">
  
            {% url 'core:home' as home_url %}
              <a 
                class="{% if home_url == request.path_info %}text-secundary{% else %}text-white{% endif %}
                font-medium cursor-pointer hover:underline underline-offset-4 py-3 md:py-6" 
                
                {% if home_url == request.path_info %}
                  aria-current="page"
                {% endif %}
                
                href="{{ home_url }}" 
                >Home</a>

              {% url 'core:about' as about_url %}
                <a 
                  class="{% if about_url == request.path_info %}text-secundary{% else %}text-white{% endif %}
                  font-medium cursor-pointer hover:underline underline-offset-4 py-3 md:py-6" 
                  
                  {% if about_url == request.path_info %}
                    aria-current="page"
                  {% endif %}
                  
                  href="{{ about_url }}" 
                  >Sobre Mi</a>
              
            
  
              {% url 'blog:list' as blog_url %}
              <a 
              class="{% if blog_url == request.path_info %}text-secundary{% else %}text-white{% endif %}
              font-medium cursor-pointer hover:underline underline-offset-4 py-3 md:py-6" 
              
              {% if blog_url == request.path_info %}
                aria-current="page"
              {% endif %}
              
              href="{{ blog_url }}" 
              >Publicaciones</a>
 
     
              {% if  user.is_authenticated %}

              <div x-data="{ open: false }" class="relative md:py-4">
                <button 
                    @click="open = ! open"
                    type="button"
                    class="flex items-center w-full text-gray-500 hover:text-gray-400 font-medium dark:text-gray-400 dark:hover:text-gray-500"
                  >
                    {{ user.username | capfirst}}
                  <svg class="ms-2 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m6 9 6 6 6-6" />
                  </svg>
                </button>
    
                <div 
                  x-cloak x-show="open" :class="open ? 'text-red-500' : 'text-blue-500'" @click.away="open = false" 
                  class="z-10 w-36 absolute top-16 right-0 bg-white border border-gray-200 rounded-lg shadow"
                  x-transition:enter="duration-200 ease-out"
                  x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
                  x-transition:enter-end="opacity-100 translate-y-0 scale-100"

                >
    
                  {% comment %} <a class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" 
                    href="{% url 'parafrasis:profile' %}">
                    My Profile
                  </a> {% endcomment %}

                  <span
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-swap="none"
                    hx-push-url="true"
                    hx-on::after-request="event.detail.successful && location.assign(event.detail.xhr.responseURL)"
                    hx-post="{% url 'account_logout' %}"
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" 
                    >
                    Logout
                </span>
                </div>
              </div> 


              {% else %}

              <div class="pt-3 md:pt-0">
                <a class="py-2.5 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg 
                border border-transparent bg-primary text-white
                transition-all outline-offset-4 hover:outline hover:outline-2 hover:scale-105 hover:outline-white  
                disabled:opacity-50 disabled:pointer-events-none" 
                  href="{% url 'account_login' %}">
                  
                  <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                    <circle cx="12" cy="7" r="4" />
                  </svg>
                  Log in
                </a>
              </div>

              {% endif %} 
            
            </div>
          </div> 
        </div>
      </div>
    </nav>
  </header>