{% load static %}
<section id="contact" class="overflow-hidden relative px-4 md:px-6 lg:px-8 ">
    <img class="absolute bottom-0 left-0 w-screen min-h-20 object-cover z-0" src="{% static 'icons/many_buildings.svg' %}" alt="">
    <img class="absolute bottom-2 -right-30 opacity-40 w-screen min-h-16 object-cover z-0" src="{% static 'icons/many_buildings.svg' %}" alt="">

    <div class="relative max-w-7xl mx-auto flex flex-col md:flex-row gap-10 items-center md:items-start justify-between py-10">
        
        
        <article class="max-w-lg text-center md:text-left">
            <div class="pb-5 md:pb-10">
                <h2 class="text-4xl ">Contactame</h2>
            </div>
            <p class="text-xl pb-3">Inmediatamente recibiras una respuesta 
                automática y proximamente responderé
                personalmente al correo que hayas
                proporcionado</p>
            <p class="text-sm">
                La informacion proporcionada en el siguiente formulario no será almacenada.
            </p>
        </article>
        {% include "core/partials/home/contact_form.html" %}
    </div>
</section>